#AdminField,
#ConsultantField,
#EndUserField {
   top: 328px;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#AmountOfDimensionsFeatures,
#CostRange {
   text-align: left;
   min-height: 23px;
   height: 23px;
   top: 1px;
}
#InfoAltLight,
#InfoAltLight_0001,
#InfoAltLight_0002,
#InfoAltLight_0003,
#InfoAltLight_0004,
#InfoAltLight_0005,
#InfoAltLight_0006,
#InfoAltLight_0007,
#InfoAltLight_0008,
#InfoAltLight_0009,
#InfoAltLight_0010,
#InfoAltLight_0011,
#InfoAltLight_0012,
#InfoAltLight_0014 {
   width: 25px;
   height: 24px;
}
#CustomerContact,
#CustomerId,
#CustomerLocation,
#CustomerName {
   width: 295px;
   height: 106px;
   left: 296px;
}
#Group,
#Group_0001,
#Vector_0015 {
   width: 10px;
   height: 8px;
}
#Ellipse172,
#RadioButton {
   width: 16px;
   height: 16px;
}
#Rectangle271,
#Rectangle275 {
   background: center/contain no-repeat #fff;
}
#Rectangle274,
#Rectangle276 {
   width: 1086px;
   background: linear-gradient(
      -90deg,
      rgba(167, 187, 212, 0.05),
      rgba(167, 187, 212, 0.05)
   );
}
#Result,
#SuccessMessage {
   min-height: 26px;
   height: 26px;
   color: #486284;
}
#AdminField,
#ConsultantField,
#EndUserField,
#NavBar_0001 {
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#Rectangle266,
#Rectangle2666,
#Rectangle266_0001,
#RectangleHistory {
   width: 201px;
   height: 48px;
   box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
#Arrow3,
#CompassAltLight,
#RadioButton,
#Vector {
   object-fit: cover;
}
#TopBar,
#TopBar_0001 {
   width: 1920px;
   height: 107px;
}
#ViewHistory {
   width: 201px;
   height: 48px;
   position: absolute;
   left: 0;
   top: 80px;
}
#Rectangle266,
#RectangleHistory {
   background: center/contain no-repeat #a7bbd4;
   border-radius: 10px;
   position: absolute;
   left: 0;
   top: 0;
}
#AiHistory,
#AiMethodFinder {
   color: #000;
   text-overflow: ellipsis;
   font-size: 16px;
   font-family: Inter, sans-serif;
   font-weight: 400;
   text-align: left;
   width: 160px;
   min-height: 48px;
   position: absolute;
   left: 43px;
   top: 0;
   height: 48px;
}
#AiAssistant {
   background: 0 0;
   border: none;
}
.method-box {
   background-color: #e6ebf1;
   border: 1px solid #7298c3;
   border-radius: 4px;
   padding: 20px;
   margin-bottom: 20px;
}
.method-ranking {
   font-size: 24px;
   color: #7298c3;
   margin-bottom: 10px;
}
.method-content {
   background-color: #fff;
   border-radius: 4px;
   padding: 15px;
   border: 1px solid #7298c3;
}
#Rectangle303,
#Rectangle304 {
   background: linear-gradient(
      -90deg,
      rgba(72, 98, 132, 0.05),
      rgba(72, 98, 132, 0.05)
   );
   border-radius: 4px;
   left: 0;
   height: 102px;
   top: 0;
}
.method-name {
   font-size: 20px;
   color: #333;
   font-weight: 700;
}
* {
   margin: 0;
}
#RootWrapperAiMethodFinderFrame,
#RootWrapperAiMethodTop3ResultFrame,
#RootWrapperBasicFrame,
#RootWrapperChooseRoleFrame,
#RootWrapperPreviousQueriesFrame {
   min-height: 100vh;
   background: center/contain no-repeat #fff;
   position: relative;
}
#WelcomeToYourAiAssistantPleaseChooseYourRole {
   color: #486284;
   text-overflow: ellipsis;
   font-size: 32px;
   font-family: Inter, sans-serif;
   font-weight: 700;
   text-align: center;
   width: 1188px;
   min-height: 148px;
   position: absolute;
   left: 252px;
   top: 136px;
   height: 148px;
}
#Administrator,
#EndUser {
   font-size: 24px;
   font-weight: 600;
   min-height: 13px;
   height: 13px;
   position: absolute;
   text-overflow: ellipsis;
   left: 45px;
}
#EndUserField {
   width: 340px;
   height: 102px;
   position: absolute;
   left: 309px;
}
#Rectangle303 {
   width: 340px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   position: absolute;
}
#EndUser {
   color: #273b4a;
   font-family: Inter, sans-serif;
   text-align: center;
   width: 251px;
   top: 46px;
}
#ConsultantField {
   width: 339px;
   height: 102px;
   position: absolute;
   left: 1047px;
}
#Rectangle304 {
   width: 339px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   position: absolute;
}
#AdminButton,
#ConsultantButton,
#EndUserButton,
#HistoryButton,
#MethodFinder,
#ProcessButton {
   background: 0 0;
   border: none;
   font-family: Inter, sans-serif;
   cursor: pointer;
   display: block;
   margin: auto;
   text-align: center;
   color: #273b4a;
}
#Administrator {
   color: #273b4a;
   font-family: Inter, sans-serif;
   text-align: center;
   width: 250px;
   top: 44px;
}
#AdminField {
   width: 340px;
   height: 102px;
   position: absolute;
   left: 678px;
}
#RolesText {
   color: #000;
   text-overflow: ellipsis;
   font-size: 20px;
   font-family: Inter, sans-serif;
   font-weight: 400;
   text-align: center;
   width: 1077px;
   min-height: 333px;
   position: absolute;
   left: 312px;
   top: 532px;
   height: 333px;
}
#AdminButton,
#ConsultantButton,
#EndUserButton {
   font-size: 24px;
   font-weight: 600;
   padding: 20px;
}
#HistoryButton,
#MethodFinder,
#ProcessButton {
   font-size: 16px;
   font-weight: 400;
   padding: 12px;
}
#WelcomeBackYouReLoggedInAsConsultant {
   color: #486284;
   text-overflow: ellipsis;
   font-size: 32px;
   font-family: Inter, sans-serif;
   font-weight: 700;
   text-align: left;
   width: 1068px;
   min-height: 87px;
   position: absolute;
   left: 327px;
   top: 136px;
   height: 87px;
}
#AmountOfDimensionsFeatures,
#CostRange,
#SequenceOfDecisions {
   color: #000;
   text-overflow: ellipsis;
   font-size: 16px;
   font-family: Inter, sans-serif;
   font-weight: 700;
   position: absolute;
   left: 0;
}
#CharacteristicAmountOfDecisions {
   width: 250px;
   height: 24px;
   position: absolute;
   left: 296px;
   top: 1564px;
}
#AmountOfDimensionsFeatures {
   width: 250px;
}
#InfoAltLight {
   position: absolute;
   left: 182px;
   top: 0;
}
#Vector {
   position: absolute;
   left: 11px;
   top: 9px;
   right: 11px;
   bottom: 9px;
}
#Ellipse47 {
   object-fit: contain;
   position: absolute;
   left: 21px;
   top: 4px;
   right: -12px;
   bottom: 4px;
   transform: rotate(-180deg);
   transform-origin: top left;
}
#CharacteristicCostRange {
   width: 250px;
   height: 24px;
   position: absolute;
   left: 553px;
   top: 1565px;
}
#CostRange {
   width: 260px;
}
#InfoAltLight_0001 {
   position: absolute;
   left: 94px;
   top: 0;
}
#CharacteristicSequenceOfDecisions {
   width: 204px;
   height: 24px;
   position: absolute;
   left: 1128px;
   top: 1340px;
}
#SequenceOfDecisions {
   text-align: left;
   top: 2px;
}
#Option,
#Option_0001 {
   font-weight: 400;
   text-align: left;
   color: #000;
   text-overflow: ellipsis;
   font-size: 18px;
   font-family: Inter, sans-serif;
   min-height: 23px;
}
#InfoAltLight_0002 {
   position: absolute;
   left: 179px;
   top: 0;
}
#CharacteristicDataAmount {
   width: 148px;
   height: 24px;
   position: absolute;
   left: 849px;
   top: 1341px;
}
#InfoAltLight_0003 {
   position: absolute;
   left: 123px;
   top: 0;
}
#CharacteristicFeedbackSignal {
   width: 156px;
   height: 24px;
   position: absolute;
   left: 563px;
   top: 1341px;
}
#InfoAltLight_0004 {
   position: absolute;
   left: 131px;
   top: 0;
}
#CharacteristicComputingCapazity {
   width: 194px;
   height: 193px;
   position: absolute;
   left: 306px;
   top: 1341px;
}
#SingleChoiceComponents {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: flex-start;
   box-sizing: border-box;
   position: absolute;
   left: 0;
   top: 46px;
   width: 164px;
   height: 147px;
}
#RadioButtonOption {
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   align-items: center;
   gap: 8px;
   align-self: stretch;
   height: 30px;
   box-sizing: border-box;
   flex-shrink: 0;
}
#Option {
   width: 150px;
   flex: 1;
}
#Option_0001 {
   width: 140px;
   flex: 1;
}
#SingleChoiceComponents_0001,
#SingleChoiceComponents_0002 {
   justify-content: flex-start;
   position: absolute;
   box-sizing: border-box;
   width: 164px;
   height: 147px;
   display: flex;
   left: 0;
}
#InfoAltLight_0005 {
   position: absolute;
   left: 169px;
   top: 0;
}
#CharacteristicTargetSizeData {
   width: 264px;
   height: 24px;
   position: absolute;
   left: 1126px;
   top: 1115px;
}
#InfoAltLight_0006 {
   position: absolute;
   left: 239px;
   top: 0;
}
#CharacteristicTargetType {
   width: 125px;
   height: 24px;
   position: absolute;
   left: 857px;
   top: 1115px;
}
#InfoAltLight_0007 {
   position: absolute;
   left: 100px;
   top: 0;
}
#CharacteristicDataAvailability {
   width: 152px;
   height: 24px;
   position: absolute;
   left: 561px;
   top: 1115px;
}
#InfoAltLight_0008 {
   position: absolute;
   left: 127px;
   top: 0;
}
#CharacteristicDataType {
   width: 164px;
   height: 186px;
   position: absolute;
   left: 304px;
   top: 1115px;
}
#SingleChoiceComponents_0001 {
   flex-direction: column;
   align-items: flex-start;
   top: 39px;
}
#InfoAltLight_0009 {
   position: absolute;
   left: 88px;
   top: 0;
}
#CharacteristicAccuracy {
   width: 205px;
   height: 190px;
   position: absolute;
   left: 1125px;
   top: 878px;
}
#SingleChoiceComponents_0002 {
   flex-direction: column;
   align-items: flex-start;
   top: 43px;
}
#AccuracyRequirement {
   color: #000;
   text-overflow: ellipsis;
   font-size: 16px;
   font-family: Inter, sans-serif;
   font-weight: 700;
   text-align: left;
   position: absolute;
   left: 1px;
   top: 2px;
}
#InfoAltLight_0010 {
   position: absolute;
   left: 180px;
   top: 0;
}
#CharacteristicTimeAvailability {
   width: 164px;
   height: 186px;
   position: absolute;
   left: 857px;
   top: 878px;
}
#InfoAltLight_0011 {
   position: absolute;
   left: 130px;
   top: 0;
}
#CharacteristicDataQuality {
   width: 164px;
   height: 186px;
   position: absolute;
   left: 561px;
   top: 878px;
}
#InfoAltLight_0012 {
   position: absolute;
   left: 96px;
   top: 0;
}
#CharacteristicDataFormat {
   width: 192px;
   height: 190px;
   position: absolute;
   left: 304px;
   top: 878px;
}
#SingleChoiceComponents_0005 {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: flex-start;
   box-sizing: border-box;
   position: absolute;
   left: 2px;
   top: 39px;
   width: 190px;
   height: 151px;
}
#Option_0019 {
   color: #000;
   text-overflow: ellipsis;
   font-size: 18px;
   font-family: Inter, sans-serif;
   font-weight: 400;
   text-align: left;
   width: 166px;
   min-height: 23px;
   flex: 1;
}
#CharacterizeYourBusinessCase,
#EnterInformationText {
   font-size: 18px;
   font-family: Inter, sans-serif;
   font-weight: 600;
   position: absolute;
   text-overflow: ellipsis;
   color: #000;
   text-align: left;
}
#CharacterizeYourBusinessCase {
   left: 304px;
   top: 813px;
}
#InfoAltLight_0014 {
   position: absolute;
   left: 1099px;
   top: 134px;
}
#EnterInformationText {
   left: 292px;
   top: 135px;
}
#CustomerId {
   position: absolute;
   top: 226px;
}
#Rectangle271 {
   padding: 10px;
   width: 295px;
   height: 45px;
   border: 1px solid #c4c4c4;
   border-radius: 4px;
   position: absolute;
   left: 0;
   top: 31px;
}
#Eg154862 {
   color: #969595;
   text-overflow: ellipsis;
   font-size: 14px;
   font-family: Inter, sans-serif;
   font-weight: 300;
   text-align: left;
   width: 182px;
   min-height: 24px;
   position: absolute;
   left: 0;
   top: 82px;
   height: 24px;
}
#ConfirmInformation,
#CustomerId_0001,
#ResetInformation {
   font-size: 16px;
   position: absolute;
   text-overflow: ellipsis;
   font-family: Inter, sans-serif;
   top: 0;
}
#CustomerId_0001 {
   color: #000;
   font-weight: 400;
   text-align: left;
   left: 0;
}
#CustomerName {
   position: absolute;
   top: 357px;
}
#CustomerLocation {
   position: absolute;
   top: 487px;
}
#CustomerContact {
   position: absolute;
   top: 617px;
}
#SingleChoiceComponents_0006 {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: flex-start;
   box-sizing: border-box;
   position: absolute;
   left: 553px;
   top: 1626px;
   width: 164px;
   height: 147px;
}
#AboutButton {
   width: 201px;
   height: 48px;
   position: absolute;
   left: 515px;
   top: 1797px;
}
#ConfirmInformation {
   color: #273b4a;
   font-weight: 700;
   text-align: center;
   width: 195px;
   min-height: 48px;
   left: 8px;
   height: 48px;
}
#AboutButton_0001 {
   width: 201px;
   height: 48px;
   position: absolute;
   left: 296px;
   top: 1797px;
}
#Rectangle266_0001 {
   background: linear-gradient(
      -90deg,
      rgba(167, 187, 212, 0.25),
      rgba(167, 187, 212, 0.25)
   );
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   border-radius: 10px;
   position: absolute;
   left: 0;
   top: 0;
}
#ResetInformation {
   color: #273b4a;
   font-weight: 400;
   text-align: center;
   width: 195px;
   min-height: 48px;
   left: 8px;
   height: 48px;
}
#SingleChoiceComponents_0007 {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: flex-start;
   box-sizing: border-box;
   position: absolute;
   left: 561px;
   top: 1154px;
   width: 180px;
   height: 87px;
}
#SingleChoiceComponents_0008,
#SingleChoiceComponents_0009 {
   justify-content: flex-start;
   top: 1154px;
   box-sizing: border-box;
   position: absolute;
   width: 164px;
   height: 147px;
   display: flex;
}
#SingleChoiceComponents_0008 {
   flex-direction: column;
   align-items: flex-start;
   left: 857px;
}
#SingleChoiceComponents_0009 {
   flex-direction: column;
   align-items: flex-start;
   left: 1125px;
}
#SingleChoiceComponents_0010 {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: flex-start;
   box-sizing: border-box;
   position: absolute;
   left: 569px;
   top: 1380px;
   width: 164px;
   height: 147px;
}
#SingleChoiceComponents_0011 {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: flex-start;
   box-sizing: border-box;
   position: absolute;
   left: 1125px;
   top: 1384px;
   width: 164px;
   height: 147px;
}
#SingleChoiceComponents_0012,
#SingleChoiceComponents_0013 {
   display: flex;
   justify-content: flex-start;
   width: 164px;
   height: 147px;
   position: absolute;
   box-sizing: border-box;
}
#SingleChoiceComponents_0012 {
   flex-direction: column;
   align-items: flex-start;
   left: 857px;
   top: 1380px;
}
#SingleChoiceComponents_0013 {
   flex-direction: column;
   align-items: flex-start;
   left: 306px;
   top: 1626px;
}
#Frame8609,
#Frame8610 {
   display: flex;
   justify-content: flex-start;
}
#ImportButton {
   width: 95px;
   height: 17px;
   position: absolute;
   left: 292px;
   top: 166px;
}
#ImportData {
   color: #273b4a;
   text-overflow: ellipsis;
   font-size: 14px;
   font-family: Inter, sans-serif;
   font-weight: 300;
   text-align: left;
   position: absolute;
   left: 19px;
   top: 0;
}
#BusinessCase,
#BusinessCaseText,
#CustomerIdCustomerName,
#_21548LoremIpsum {
   color: #000;
   font-size: 16px;
   font-family: Inter, sans-serif;
   font-weight: initial;
   text-align: left;
   position: absolute;
   text-overflow: ellipsis;
}
#Import2 {
   width: 10px;
   height: 10px;
   overflow: hidden;
   position: absolute;
   left: 3px;
   top: 4px;
}
#Group {
   position: absolute;
   left: 0;
   top: 1px;
}
#Group_0001 {
   position: absolute;
   left: 0;
   top: 0;
}
#Vector_0015 {
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
}
#Ellipse172 {
   border-radius: 16px;
   position: absolute;
   left: 0;
   top: 1px;
}
#Image5 {
   background: url(https://s3-alpha-sig.figma.com/img/fa38/41e5/6721e92ef3e92439791301f3301ed564?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=LgdQq25amh-sYUIWWO8yWE--AJu~aI8mrknhgc8OM1SVmtBsn9aI-VtrhoME0NjQF--eEcP72nlO6OYl9BzETj-VxHHvcLTwhfi-AB7IBuQT2QyBWXnUyDJ5oUIN6~1J3rQXkziPlyAluRAqRIb8ngp5MWxjUtack1WX2P-O~Z54nPjE715luomBbCqLz5PE0rKeBrK0u3B5EWKGWXBWAJqsNCohhdAWas7q8gJdlSfBnto8MbQVFyD6JMO-V29XAHQFqs3as6IuxOkhC1z7T9xGBNfxzJHoKMNBTjutndEPxrRLMyifZ-gVg7C25Ib4zrctfXq1rHwym54TSMo6zQ__)
      center/cover no-repeat;
   position: absolute;
   left: 58px;
   top: 4047px;
   right: 1725px;
   bottom: 201px;
}
#CustomerIdCustomerName {
   left: 310px;
   top: 337px;
}
#BusinessCase {
   left: 625px;
   top: 336px;
}
#_21548LoremIpsum {
   left: 464px;
   top: 336px;
}
#BusinessCaseText {
   width: 610px;
   min-height: 90px;
   left: 786px;
   top: 336px;
   height: 90px;
}
#TopSectionFixed {
   width: 1178px;
   height: 242px;
   position: absolute;
   left: 262px;
   top: 78px;
}
#Rectangle275 {
   width: 1178px;
   height: 242px;
   position: absolute;
   left: 0;
   top: 0;
}
#Rectangle274 {
   height: 156px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   border: 1px solid #486284;
   border-radius: 4px;
   position: absolute;
   left: 48px;
   top: 67px;
}
#DetailBar,
#Rectangle276 {
   border: 1px solid #486284;
}
#SuccessMessage {
   text-overflow: ellipsis;
   font-size: 20px;
   font-family: Inter, sans-serif;
   font-weight: initial;
   text-align: left;
   width: 907px;
   position: absolute;
   left: 71px;
   top: 86px;
}
#MethodAdvantages,
#MethodDescription {
   font-size: 16px;
   width: 1022px;
   left: 23px;
   font-weight: initial;
   position: absolute;
   color: #000;
   text-overflow: ellipsis;
   font-family: Inter, sans-serif;
   text-align: left;
}
#_1Pca {
   width: 1086px;
   height: 466px;
   position: absolute;
   left: 315px;
   top: 575px;
}
#Rectangle276 {
   height: 466px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   border-radius: 4px;
   position: absolute;
   left: 0;
   top: 0;
}
#MethodDescription {
   min-height: 201px;
   top: 86px;
   height: 201px;
}
#MethodAdvantages {
   min-height: 165px;
   top: 293px;
   height: 165px;
}
#_1Pca_0001 {
   color: #486284;
   text-overflow: ellipsis;
   font-size: 32px;
   font-family: Inter, sans-serif;
   font-weight: initial;
   text-align: left;
   width: 499px;
   min-height: 29px;
   position: absolute;
   left: 23px;
   top: 24px;
   height: 29px;
}
#Line16 {
   width: 1082px;
   height: 0;
   border-top: 1px solid #486284;
   position: absolute;
   left: 314px;
   top: 503px;
}
#Result {
   text-overflow: ellipsis;
   font-weight: initial;
   text-align: left;
   width: 122px;
   left: 315px;
   top: 472px;
   font-size: 20px;
   font-family: Inter, sans-serif;
   position: absolute;
   z-index: 10;
}
#NavBar {
   width: 254px;
   height: 4232px;
   position: absolute;
   left: 0;
   top: 78px;
}
#NavBar_0001 {
   background: linear-gradient(
      -90deg,
      rgba(196, 196, 196, 0.1),
      rgba(196, 196, 196, 0.1)
   );
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   border-radius: 1px;
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
}
.container {
   position: relative;
   top: 540px;
   left: 65px;
   width: calc(100% - 310px);
}
.ai-method-result {
   background-color: #fff;
   border: 1px solid #a7bbdc;
   border-radius: 4px;
   padding: 20px;
   margin-bottom: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#Previous2,
.PreviousEntry {
   width: 1086px;
   height: 59px;
   background: linear-gradient(
      -90deg,
      rgba(196, 196, 196, 0.03),
      rgba(196, 196, 196, 0.03)
   );
}
.ai-method-result h2 {
   color: #486284;
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 10px;
}
.ai-method-result h3 {
   color: #486284;
   font-size: 18px;
   font-weight: 700;
   margin-top: 15px;
}
.ai-method-result p {
   font-size: 16px;
   color: #333;
   margin-bottom: 5px;
}
.method-details {
   margin-left: 20px;
}
#DetailBar {
   width: 1086px;
   height: 61px;
   background: linear-gradient(
      -90deg,
      rgba(196, 196, 196, 0.2),
      rgba(196, 196, 196, 0.2)
   );
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   border-radius: 10px;
   position: absolute;
   left: 309px;
   top: 276px;
}
#Frame8609 {
   flex-direction: row;
   align-items: center;
   gap: 2px;
   box-sizing: border-box;
   position: absolute;
   left: 39px;
   top: 21px;
}
#Id {
   color: #000;
   text-overflow: ellipsis;
   font-size: 16px;
   font-family: Inter, sans-serif;
   font-weight: 600;
   text-align: center;
}
#AbcNonymoDe,
#Mannheim,
#Nonymo,
#_1,
#_54846 {
   font-size: 16px;
   font-family: Inter, sans-serif;
   font-weight: 400;
   text-align: center;
   top: 20px;
   color: #000;
   text-overflow: ellipsis;
}
#Frame8610 {
   flex-direction: row;
   align-items: center;
   gap: 2px;
   box-sizing: border-box;
   position: absolute;
   left: 113px;
   top: 21px;
}
#Frame8615,
#Frame8616 {
   display: flex;
   justify-content: flex-start;
   position: absolute;
   top: 21px;
   gap: 2px;
   box-sizing: border-box;
}
#Frame8615 {
   flex-direction: row;
   align-items: center;
   left: 920px;
}
#Frame8616 {
   flex-direction: row;
   align-items: center;
   left: 978px;
}
#Frame8611,
#Frame8611_0001 {
   display: flex;
   justify-content: flex-start;
}
#Frame8611 {
   flex-direction: row;
   align-items: center;
   position: absolute;
   left: 202px;
   top: 21px;
}
#Frame8611_0001 {
   flex-direction: row;
   align-items: center;
   gap: 2px;
   box-sizing: border-box;
}
#Frame8612,
#Frame8613 {
   justify-content: flex-start;
   top: 21px;
   position: absolute;
   display: flex;
}
#Frame8612 {
   flex-direction: row;
   align-items: center;
   left: 340px;
}
#Frame8613 {
   flex-direction: row;
   align-items: center;
   left: 502px;
}
#Frame8614 {
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   align-items: center;
   position: absolute;
   left: 695px;
   top: 21px;
}
#Previous1 {
   width: 1086px;
   height: 59px;
   position: absolute;
   left: 309px;
   top: 364px;
}
.PreviousEntry {
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   border: 1px solid #486284;
   border-radius: 10px;
   padding-top: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
#Ellipse176,
#Ellipse176_0001 {
   width: 45px;
   height: 45px;
   border-radius: 45px;
   position: absolute;
}
#_1 {
   position: absolute;
   left: 38px;
}
#_54846 {
   position: absolute;
   left: 231px;
}
#Nonymo {
   position: absolute;
   left: 373px;
}
#Mannheim {
   position: absolute;
   left: 536px;
}
#AbcNonymoDe {
   position: absolute;
   left: 685px;
}
#Pca {
   color: #000;
   text-overflow: ellipsis;
   font-size: 14px;
   font-family: Inter, sans-serif;
   font-weight: 400;
   text-align: center;
   position: absolute;
   left: 899px;
   top: 8px;
}
#AbcAtmenBerlinDe,
#Berlin,
#Dbscan,
#SitAtmen,
#_17032023,
#_2 {
   text-overflow: ellipsis;
   font-size: 16px;
   font-family: Inter, sans-serif;
   font-weight: 400;
   top: 20px;
   color: #000;
   text-align: center;
}
#_17032023 {
   position: absolute;
   left: 93px;
}
#ActionClick {
   width: 45px;
   height: 45px;
   position: absolute;
   left: 997px;
   top: 7px;
}
#Ellipse176 {
   left: 0;
   top: 0;
}
#Arrow3 {
   width: 12px;
   height: 0;
   position: absolute;
   left: 1020px;
   top: 23px;
   transform: rotate(-270deg);
   transform-origin: top left;
}
#Ellipse176_0001 {
   left: 1306px;
   top: 437px;
}
#Previous2 {
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   border: 1px solid #486284;
   border-radius: 10px;
   position: absolute;
   left: 309px;
   top: 430px;
}
#_2 {
   position: absolute;
   left: 37px;
}
#SitAtmen {
   position: absolute;
   left: 368px;
}
#Berlin {
   position: absolute;
   left: 554px;
}
#AbcAtmenBerlinDe {
   position: absolute;
   left: 682px;
}
#Dbscan {
   position: absolute;
   left: 882px;
}
#AiAssistant,
#PreviousQueriesText {
   text-overflow: ellipsis;
   font-family: Inter, sans-serif;
   font-weight: 700;
   position: absolute;
}
#PreviousQueriesText {
   color: #000;
   font-size: 20px;
   text-align: left;
   width: 1076px;
   min-height: 75px;
   left: calc((calc((50% + -113px)) - 480px));
   top: calc((calc((50% + -333px)) - 38px));
   height: 75px;
}
#FinderButtonHover {
   position: absolute;
   left: 25px;
   top: 78px;
   right: 26px;
   bottom: 873px;
}
#FindMethodButton {
   width: 201px;
   height: 48px;
   position: absolute;
   left: 0;
   top: 0;
}
#Rectangle2666 {
   background: linear-gradient(
      -90deg,
      rgba(167, 187, 212, 0.5),
      rgba(167, 187, 212, 0.5)
   );
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   border-radius: 10px;
   position: absolute;
   left: 0;
   top: 0;
}
#CompassAltLight {
   width: 24px;
   height: 24px;
   position: absolute;
   left: 9px;
   top: 12px;
}
#TopBar {
   position: absolute;
   left: 0;
   top: 0;
}
#TopBar_0001 {
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
}
#AiAssistant {
   color: #486284;
   font-size: 24px;
   text-align: center;
   min-height: 78px;
   left: 45px;
   top: 0;
   right: 1628px;
   bottom: 29px;
}
